/* Footer principal */
.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/* Conteneur principal */
.footer-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Logo */
.footer-logo img {
    width: 12rem;
}

/* Section de contact */
.contact-section {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Bouton email */
.email-button {
    background-color: #ffa500;
    /* Couleur dorée/orange */
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.email-button:hover {
    background-color: #e67e22;
    /* Couleur orange foncé au survol */
}

/* Liens sociaux */
.social-links {
    display: flex;
    gap: 2rem;
}


.social-icon img {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease;
}

.social-icon:hover img {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        width: 100%;
    }

    .footer-logo img {
        width: 11rem;
    }

    .email-button {
        justify-content: center;
        width: 80%;
        margin-top: 1rem;

    }

    .contact-section {
        flex-direction: column;
    }

    .social-links {
        padding-top: 2rem;
    }

}