.description {
    background-color: #333333;
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    align-items: center;
    border-radius: 2rem;
}


.description img {
    border-radius: 3rem;
    width: 65%;
    height: auto;
    margin-bottom: 1rem;
}

.description-contenu {
    display: flex;
    flex-direction: column;
}


.img-v {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

.img-v h1 {
    color: #fff268;
}


/* .img-v img {
    border-radius: 4rem;
    width: 60%;
    margin-bottom: 1rem;
} */

@media screen and (max-width:1080px) {
    .description {
        flex-direction: column;
        align-items: center;
    }


    .description p {
        padding: 1rem;
    }

    .description img {
        width: 21%;
    }

    .img-v {
        width: 100%;
    }
}

@media screen and (max-width:768px) {

    .description img {
        width: 35%;
    }
}