@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@400&display=swap');

* {
  margin-inline: 0.5rem;
}

/* Application des polices */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #181818;
  color: #FFFFFF;
  margin: 0;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #fff268;
}

/* Style de la navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: 'Montserrat', sans-serif;
  background-color: #333333;
  flex-wrap: wrap;
  font-size: 15px;
  margin-top: 1rem;
  border-radius: 4rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Assure-toi que la navbar est au-dessus des autres éléments */
  transition: all 0.3s ease-in-out;
  /* Animation douce pour les changements */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Ombre discrète pour la navbar */

}

.navbar.sticky {
  background-color: #111111;
  /* Optionnel: changer la couleur lorsque sticky */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  /* Ombre plus marquée */
}

.navbar_logo {
  margin-right: auto;
}

.navbar_logo img {
  width: 17rem;
  margin-left: 2rem;
  border-radius: 1rem;
}

/* Style du bouton hamburger */
.menu-toggle {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30px;
  height: 25px;
  cursor: pointer;
  display: none;
  /* Cacher le bouton hamburger sur grands écrans */
  margin-block: 1rem;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff268;
  /* Couleur des barres du hamburger */
  border-radius: 5px;
}

/* Liste des éléments de la navbar */
ul {
  display: flex;
  list-style-type: none;
  gap: 3rem;
  padding: 0;
}

ul li {
  font-weight: bold;
}

ul li a {
  color: #fff268;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

/* Menu collapsé - caché par défaut sur mobile */
.navbar-links {
  display: flex;
  list-style-type: none;
  gap: 4rem;
  margin-right: 4rem;
}

.navbar-links.active {
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #333333;
  text-align: center;
}

.navbar-links li {
  margin: 1rem -1.5rem;
}

@media screen and (max-width:1080px) {
  .navbar {
    flex-direction: column;
  }

  .navbar_logo {
    justify-content: center;
    margin: 0;
    display: flex;
    padding-top: 1rem;
  }

  .navbar-links {
    justify-content: center;
    margin-right: 0;
  }

  .navbar_logo img {
    width: 20rem;
  }
}

/* Menu mobile : cacher les liens et afficher le bouton hamburger */
@media screen and (max-width: 768px) {

  * {
    padding: 0;
  }

  .menu-toggle {
    display: flex;
    /* Afficher le bouton hamburger sur mobile */
  }

  .navbar-links {
    display: none;
    /* Cacher la liste des liens par défaut sur mobile */
    width: 100%;
  }

  .navbar-links.active {
    display: block;
    /* Afficher la liste des liens quand le menu est ouvert */
  }

  /* Optionnel : Style pour les liens du menu sur mobile */
  .navbar-links li {
    font-size: 18px;
  }

  .navbar_logo img {
    width: 85%;
  }
}